{% extends 'base.html.twig' %}

{% block title %}Hello PaiementController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

        {# Ajoutez ici les autres champs du formulaire... #}
        
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-succes"> Payer
{#     {% if eleve.id is not defined %}
        inscrire {% else %}
        Réinscrire
    {% endif %}  #}</button>
     {{ form_end(form) }}
{% endblock %}
